@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body {
  padding-top: 80px;
  font-size: 14px;
  background: #FFFFFF;
}

p {
  color: #999;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.btn-transparent {
  border: 2px solid #DE5656;
  background: transparent;
  color: #DE5656;
}

.btn.btn-transparent:hover {
  background: #DE5656;
  color: #fff;
}

.btn.btn-link {
  color: #2dcc70;
  padding: 0;
}

.btn.btn-link:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #2dcc70;
}

.btn-primary:hover {
  background-color: #24a259;
}

a {
  color: #DE5656;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: none;
  outline: 0;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

body>section {
  padding: 50px 0;
  background:;
}

body>section#slide-show {
  padding: 0;
}
/*Nav*/
.navbar-inverse {
  background: #fff;
  border: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
}

ul.nav.navbar-nav {
  float: right;
}

.navbar-nav>li a {
  padding: 30px 25px;
}

.navbar-nav li ul li a {
  padding: 6px 20px;
}

a.navbar-brand {
}

.navbar-inverse .navbar-nav>li>a {
  text-shadow: none;
  font-size: 14px;
}

#recent-works {
  background: #DE5656;
  color: #fff;
}

#recent-works .links>a {
  background: #fff;
  color: #232323;
  text-shadow: none;
}

#clients {
  background: #fff;
}

#clients h4 {
  color: #999;
}

#clients .carousel {
  margin-bottom: 0;
}

#clients .clients ul.thumbnails {
  margin: 0;
}

#clients .clients ul.thumbnails>li {
  text-align: center;
  margin-bottom: 0;
}

#clients .prev,
#clients .next {
  color: #999;
}

.title {
  background: #3F3F3F;
  color: #fff;
  padding: 20px 0;
}

.center {
  text-align: center;
}

blockquote p {
  font-size: 14px;
  font-weight: 400;
}

.posts .dl-horizontal a {
  color: #555;
}

.posts .dl-horizontal {
  margin-bottom: 15px;
  overflow: hidden;
}

.posts .dl-horizontal dt {
  width: 60px;
  float: left;
}

.posts .dl-horizontal dt img {
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-top: 2px;
  border: solid 1px #ddd;
}

.posts .dl-horizontal dd {
  margin-left: 70px;
}

.posts .dl-horizontal dd p {
  margin: 0;
}

.posts .dl-horizontal dd a {
  font-size: 14px;
  line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
  color: #72c02c;
  text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
  color: #72c02c;
  border-color: #72c02c !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.box {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progress {
  margin-bottom: 10px;
}

.progress,
.progress .bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  height: 30px;
  line-height: 30px;
}

.label,
.badge {
  font-weight: 300;
  font-size: 90%;
}

ul.breadcrumb {
  margin: 12px 0 0;
  background: transparent;
}

ul.breadcrumb>li {
  text-shadow: none;
}

ul.breadcrumb>li>a,
ul.breadcrumb>li .divider {
  color: #fff;
}

ul.breadcrumb>li.active {
  color: rgba(255, 255, 255, 0.7);
}

ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}

.btn-social {
  border: 0;
  color: #232323;
  text-shadow:;
  background: #EAEAEA;
}

.btn-social.btn-facebook {
/* background: #4f7dd4
 */;
}

.btn-social.btn-facebook:hover {
  background: #789bde;
}

.btn-social.btn-twitter {
/* background: #5bceff
 */;
}

.btn-social.btn-twitter:hover {
  background: #8eddff;
}

.btn-social.btn-linkedin {
/* background: #21a6d8
 */;
}

.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}

.btn-social.btn-google-plus {
/* background: #dc422b
 */;
}

.btn-social.btn-google-plus:hover {
  background: #e36957;
}

.btn-social:hover {
  color: #fff;
}

header.navbar .navbar-inner {
  background: #fff!important;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

header #logo {
  width: 220px;
  height: 80px;
  background: url(../images/logo.png) no-repeat 0 50%;
}

header.navbar {
  margin-bottom: 0;
}

header.navbar .nav {
  margin-top: 20px;
}

header.navbar .nav>li {
  margin-left: 1px;
}

header.navbar .nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  : "Fjalla One";
    font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
}

header.navbar .nav>li>a:hover {
  background: transparent;
  color: #2dcc70;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

header.navbar .nav>li.active>a,
header.navbar .nav>li.active>a:hover {
  background: transparent;
  color: #2dcc70;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

header.navbar .nav>li.dropdown.open>a.dropdown-toggle {
  background: transparent;
  color: #2dcc70;
}

header.navbar .nav>li.login>a {
  border-left: 1px solid #e5e5e5;
}

header .dropdown-menu {
  margin-top: 20px;
}

header .dropdown-menu:before {
  display: none!important;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color: #DE5656;
  color: #DE5656;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #DE5656;
}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  color: #DE5656;
}

.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
  background: #DE5656;
  color: #fff;
}

.main-info {
  background-color: #fff;
  color: #999;
}

.main-info h4 {
  color: #999;
}

.icon-medium {
  font-size: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  background: #2dcc70;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
}

.head-title {
  margin-bottom: 34px;
}

.big-head-title {
  margin-bottom: 100px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#services {
  background: #FFFFFF;
  color: #999;
}

#services h1,
#services h2,
#services h3,
#services h4,
#services h5,
#services h6 {
  color: #5F5F5F;
}

#services i.fa {
  font-size: 22px;
  float: left;
  padding: 23px 0;
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #DE5656;
  width: 80px;
  height: 80px;
  text-align: center;
}

#main-contents {
  margin-top: 20px;
}

#bottom {
  background: #1F1F1F;
  color: #6f6f6f;
}

#bottom h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

#bottom h1,
#bottom h2,
#bottom h3,
#bottom h4,
#bottom h5,
#bottom h6 {
  color: #fff;
}

#bottom a {
  color: #6f6f6f;
}

#bottom a:hover {
  color: #DE5656;
}

#bottom ul.address>li {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}

#bottom ul.address>li:first-child {
  margin-top: 0;
}

#bottom ul.address>li>i {
  position: absolute;
  top: 3px;
  left: 0;
}

#bottom ul.thumbnails {
  margin-bottom: 0;
}

#bottom ul.thumbnails li {
  margin-bottom: 5px;
}

#footer {
  background: #252525;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
}

#footer a {
  color: #666;
}

#footer a:hover {
  color: #DE5656;
}

#footer #gototop {
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  display: inline-block;
  background: #1d1d1d;
  font-size: 24px;
  color: #fff;
}

#footer #gototop:hover {
  background: #2b2b2b;
  text-decoration: none;
}

#footer .cp {
  margin-top: 11px;
}

ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: inline-block;
}

ul.social>li {
  display: inline-block;
  margin: 0 5px;
}

ul.social>li>a {
  font-size: 16px;
  color: #666;
}

ul.social>li>a:hover {
  color: #999;
}

.box-border {
  padding: 15px;
}

.accordion-group {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}

.accordion-heading .accordion-toggle {
  color: #666;
  font-weight: 700;
}

.accordion-inner {
  border-top: 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-height: 50px;
  padding: 0 15px;
  border: 1px solid #B5B5B5;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #2dcc70;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-block-level {
  min-height: 50px;
}

textarea#message {
  padding: 10px 15px;
  height: 220px;
  margin-bottom: 15px;
}

.widget {
  margin-bottom: 30px;
}

.widget>h3 {
  font-size: 16px;
  margin-top: 0;
}

.widget h5 {
  margin-top: 10px;
}

.widget .date {
  margin-top: 5px;
  padding: 8px 10px;
  background: #2dcc70;
}

.widget .date>span {
  display: block;
  text-align: center;
  : "Fjalla One";
    color: #fff;
}

.widget .date>span.month {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.widget .date>span.day {
  font-size: 18px;
  line-height: 18px;
}

#pricing-table {
  margin-top: 20px;
  margin-bottom: 30px;
}

#pricing-table .plan {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6B6B6B;
}

#pricing-table .plan.featured {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#pricing-table .plan>li {
  padding: 10px 15px;
}

#pricing-table .plan>li.plan-name {
  background: rgba(0, 0, 0, 0.1);
}

#pricing-table .plan>li.plan-name h3 {
  margin: 10px 0;
}

#pricing-table .plan>li.plan-action {
  padding: 20px 0;
}

#pricing-table .plan1 {
  background: #FFFFFF;
  border: 1px #CCCCCC solid;
}

#pricing-table .plan2 {
  background: #EFEFEF;
  border: 1px #CCCCCC solid;
}

#pricing-table .plan3 {
  background: #FFFFFF;
  border: 1px #CCCCCC solid;
}

#pricing-table .plan4 {
  background: #FFFFFF;
  border: 1px #CCCCCC solid;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

#about-us .img-responsive {
  width: 90%;
  margin-top: 49px;
}

.bgColor {
  background: #F9F9F9;
}

.bgColor .img-responsive {
  margin-top: 9px !important;
}

.lead {
  font-size: 16px;
}

#recent-works .lead {
  color: #fff;
}

.address li {
  padding: 5px 0;
}

#bottom .address li {
  padding: 0;
}

.input-block-level {
  margin-bottom: 10px;
}

.team .thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.team .thumbnail img {
  width: 100%;
}

.thumbnail .caption {
  padding: 0 5px 18px;
  color: #333;
  text-align: center;
}

ul.gallery {
  display: block;
  margin: -15px;
}

ul.gallery.col-1 li {
  width: 100%;
}

ul.gallery.col-2 li {
  width: 50%;
}

ul.gallery.col-3 li {
  width: 33.3333%;
}

ul.gallery.col-4 li {
  width: 25%;
}

ul.gallery li {
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  margin: 10px;
  width: 23%;
}

ul.gallery li .desc {
  padding: 15px;
  color: #545454;
  background: #EFEFEF;
  text-align: center;
}

ul.gallery li .preview {
    /* margin: 15px; */
  display: block;
  position: relative;
}

ul.gallery li .preview .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

ul.gallery li .preview .links {
  width: 85px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

ul.gallery li .preview .links>a {
  width: 50px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  background: #DE5656;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin: 0 1px;
}

ul.gallery li .preview:hover .overlay,
ul.gallery li .preview:hover .links {
  opacity: 1;
  filter: alpha(opacity=100);
}

ul.gallery li .preview:hover .links {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

ul.gallery li img {
  width: 100%;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #2dcc70;
  color: #fff;
  font-size: 24px;
}

ul.faq li>div {
  margin-left: 70px;
}

ul.faq li>div h3 {
  margin-top: 0;
}

#error {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
.navbar-header {
    height: 78px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    margin: 24px 10px 0;
}
ul.nav.navbar-nav {
    float: initial;
}
.navbar-nav>li a {
    padding: 12px 25px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #DE5656;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #DE5656;
}
}